// Colors
$blue: #152a4a;
$indigo: #6574cd;
$purple: #c8adcc;
$pink: #f09090;
$pinkdark: #f82f4a;
$red: #f86161;
$orange: #f6993f;
$yellow: #f4cb6b;
$green: #26cc68;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$cyandark: #00bdff;
$grey: #b2b2b2;
$greylight: #f1f2f4;
$white: #ffffff;
$lightgray: #f8f8f8;
$black: #000;
$darkGray: #3e495c;

// Brands
$brand-gray-light: #f1f2f4;
$brand-gray-dark: #dfe1e4;
$brand-blue-light: #00bdff;
$brand-blue-dark: #152a4a;
$brand-pink-dark: #f82f4a;
$brand-red: #f86161;
$brand-white: #ffffff;

//Border color
$border-blue-light: #2ac8ff;
$border-gray: #dfe1e4;

//Background colors
$color-background-1: #747474;
$color-background-2: #f8f8f8;
$color-background-3: #15294a;
$color-background-4: #15294a; //Dark blue theme color
$color-background-5: #286090;
$color-background-6: #ABABAB;
$color-background-7: rgba(21, 161, 188, 0.6); //Hover color
$color-background-8: #00bf9a; //Button success color
$color-background-9: #03b0c9; //Light blue theme color
$color-background-10: #FFFFFF; //White background
$color-background-11: #324057; //Theme color dark blue light background
$color-background-12: #d4d4d5;
$color-background-13: rgba(21, 42, 76, 0.04); //Theme color super light
$color-background-14: #F8FFFF; //Blue label

$gray-light-bg: #f1f2f4;
$blue-light-bg: #00bdff;

//Border colors
$color-border-1: #ededed;
$color-border-2: #15294a;
$color-border-3: #15294a;
$color-border-4: rgba(21, 161, 188, 0.6); //Hover color
$color-border-5: rgb(89, 115, 133); //Input focus color
$color-border-6: #A9D5DE; //Blue label color
$input-focus-border-color: #96c8da;

//Font colors
$color-font-1: #15294a;
$color-font-2: #a5a5a5;
$color-font-3: #ffffff;
$color-font-4: #A5673F; //Brown
$color-font-5: #000000; //Black
$color-font-6: #4c4c4c; //Black
$color-font-7: #6c757d;
$color-font-7: #276F86; //Blue label

// Font family
$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$WorkSans: 'Work Sans', sans-serif;
