// Variables
@import '../../variables';

.on-boarding-right {

  .list-features {
    margin-top: 6rem;

    ul {
      list-style: none;
      -webkit-padding-start: 0;

      li {
        float: left;
        width: 100%;
        position: relative;
        margin-bottom: 48px;

        &:last-child {
          margin-bottom: 25px;
        }

        .list-img {
          position: absolute;
          left: 0;
          top: 0;
          height: 50px;
          width: 50px;
          background-color: #f2f8fa;
          border-radius: 50%;

          .list-img-center {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            display: table;
            text-align: center;

            span {
              width: 100%;
              height: 100%;
              vertical-align: middle;
              display: table-cell;
              text-align: center;

              img {
                vertical-align: middle;
                text-align: center;
                max-width: 100%;
              }
            }
          }
        }

        .list-text {
          float: left;
          padding-left: 77px;
          width: 100%;

          h5 {
            color: $color-font-1;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.7px;
            margin-top: -6px;
          }

          p {
            color: $color-font-2;
            font-size: 14px;
            font-weight: 300;
            padding-top: 3px;
            line-height: 19px;
          }
        }
      }
    }
  }

  .help-area {
    width: 100%;
    float: left;
    background-color: #f2f8fa;
    padding: 14px 24px;
    margin-top: 38px;

    h4 {
      color: $color-font-1;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.9px;
    }

    p {
      color: $color-font-2;
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 0.6px;
    }

    ul {
      float: left;
      list-style: outside none none;
      margin-top: 19px;
      -webkit-padding-start: 0;

      li {
        float: left;
        margin-right: 22px;
        width: auto;

        @media (min-width: 768px) and (max-width: 1199px) {
          margin-top: 15px;

          &:first-child {
            margin-top: 0;
          }
        }

        @media (max-width: 516px) {
          margin-top: 15px;

          &:first-child {
            margin-top: 0;
          }
        }

        a {
          color: #888888;
          font-size: 16px;
          font-weight: 900;
          letter-spacing: 0.6px;

          span {
            background-color: #ffffff;
            border-radius: 50%;
            float: left;
            margin-right: 4px;
            margin-top: -7px;

            img {
              vertical-align: bottom;
              max-width: 100%;
              border: 0 none;
            }
          }
        }
      }
    }
  }
}
