// Variables
@import '../../variables';

.admin-group-form {
  .ui.form .field:last-child {
    margin-bottom: 0.5em;
  }

  .ui.cards > .card > .content, .ui.card > .content {
    border-top: unset;

    .header:not(.ui), .ui.card > .content > .header:not(.ui) {
      color: $color-font-1;
    }
  }

  button[type=submit] {
    margin-top: 1rem !important;
  }
}
